img{
    width: 200px;
    height: 300px;
}

.card-container{
    display: flex;
    gap: 50px;
}

#content{
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
}

#content .card{
    display: flex;
    width: 250px;
}

#content .card-body{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#content span{
    width: auto;
}

#content .image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}